/*这里是几个页面公用的类除了第一个页面外*/

.specify {
    margin: 0 auto;
    width: 1200px;
    min-width: 1200px;
}

.out-wrap .navs {
    height: 52px;
    background-color: #fff;
}

.out-wrap .navs .link.active {
    border-bottom: 4px solid #333;
}

.out-wrap .navs .all-in { /*全部商品分类*/
    cursor: pointer;
    padding: 0 65px 0 50px;
    float: left;
    border-bottom: 4px solid transparent;
    color: #333;
    font: 400 17px/52px "Microsoft YaHei", tahoma, arial, sans-serif !important;
}

.out-wrap .navs .link { /*菜单*/
    float: left;
    margin-right: 65px;
    border-bottom: 4px solid transparent;
    color: #333;
    font: 400 17px/52px "Microsoft YaHei", tahoma, arial, sans-serif !important;
}

.icon { /*所有关于图片都都要继承*/
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    float: left;
}

.out-wrap .icon-func { /*全部商品分类小图标*/
    margin-top: 17px;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background-image: url(../../images/firstpage/tutu.png);
}

.out-wrap .icon-fold { /*向下的箭头*/
    float: right;
    margin: 26px 0 0 10px;
    width: 11px;
    height: 6px;
    background-image: url(../../images/firstpage/icon-fold.png);
}

.out-wrap .all-in:hover .cates-banners {
    display: block !important;
}

.out-wrap .cates-banner { /*大框*/
    width: 1200px;
    height: 485px;
    position: absolute;
    z-index: 99;
    margin-top: 4px;
    margin-left: -50px;
    display: none;
}

.abso {
    position: absolute !important; /*相对于父元素的定位*/
}

.out-wrap .cates-banner .cates {
    margin: 0;
    width: 223px;
    height: 485px;
    background-color: rgba(51, 51, 51, 1);
    /* background-color: rgba(51, 51, 51, 0.88); */
}

.out-wrap .all-in:hover .cates-banners { /*鼠标移动显示*/
    display: block !important;
}

.out-wrap .cates-banner .cates {
    margin: 0;
    width: 223px;
    height: 485px;
    background-color: rgba(51, 51, 51, 1);
    /* background-color: rgba(51, 51, 51, 0.88); */
}

.out-wrap .cates li.cate {
    margin-top: -1px;
    border-bottom: 1px solid rgba(222, 222, 222, 0.4);
    width: 203px;
    padding-top: 40px;
    height: 57px;
}

.out-wrap .cates li.cate:first-child {
    margin-top: 0px;
    height: 56px;
}

.out-wrap .cates li.cate:hover, .out-wrap .cates li.cate.hover {
    border-bottom: 1px solid transparent;
    width: 223px;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0 0px 4px 0px rgba(68, 68, 68, 0.4);
}

.out-wrap .cates li.cate .white {
    z-index: 100;
    width: 14px;
    height: 97px;
    background: transparent;
    position: absolute;
    margin-left: 217px;
    margin-top: -40px;
    display: none;
}

.out-wrap .cates li.cate:hover .white, .out-wrap .cates li.cate.hover .white {
    display: block;
    background: #fff;
}

.out-wrap .cates .icon-cloth {
    margin-right: 16px;
    width: 29px;
    height: 24px;
    background-image: url(../../images/firstpage/icon-cloth.png);
}

.out-wrap .cates li.cate:hover .icon-cloth, .out-wrap .cates li.cate.hover .icon-cloth {
    background-image: url(../../images/firstpage/icon-cloth-h.png);
}

.out-wrap .cates .cate-hd {
    padding-left: 36px;
}

.out-wrap .cates .cate a {
    color: #fff;
    font: 400 16px/24px "Microsoft YaHei", tahoma, arial;
}

.out-wrap .cates li.cate:hover a, .out-wrap .cates li.cate.hover a {
    color: #010101;
    /* color: red; */
}

.out-wrap .cates li.cate a {
    color: #fff;
    float: left;
}

.out-wrap .cates .cate-bd {
    height: 27px;
    padding-bottom: 5px;
    padding-left: 36px;
    overflow: hidden;
}

.out-wrap .cates .cate-bd li {
    float: left;
    height: 100%;
}

.out-wrap .cates .cate-bd a {
    font-size: 13px;
    color: #aaa !important;
}

.out-wrap .cates .cate-bd .slash {
    padding: 0 3px;
}

.out-wrap .cates .cate-bd a {
    font-size: 13px;
    color: #aaa !important;
}
.bg-f5-to-f0{
    background: #f5f5f5;
}
/*hover-boxs*/
.out-wrap .hover-boxs {
    visibility: hidden;
    z-index: 90;
    top: 0;
    left: 223px;
    background: #fff;
    color: #333;
    width: 910px;
    padding: 0 30px 0 37px;
    height: 485px;
    box-shadow: 0px 0px 4px 0px rgba(68, 68, 68, 0.4);
}

.out-wrap .hover-box {
    width: 100%;
}

.out-wrap .cates-box {
    width: 605px;
    max-height: 485px;
    overflow: hidden;
}
.out-wrap .all-in:hover .icon-fold {
    background-image: url(../../images/gooddetail/icon-unfold.png);
}

.out-wrap .cates-box .part:nth-child(odd) {
    margin-left: 0;
}

.out-wrap .cates-box .part {
    margin-left: 72px;
    width: 265px;
    float: left;
}

.out-wrap .cates-box .part .title {
    padding: 42px 0 10px;
    margin: 0;
    color: #333;
    font: 400 16px/16px "Microsoft YaHei", tahoma, arial;
    border-bottom: 1px solid #e5e5e5;
}

.out-wrap .cates-box .part .list {
    margin-top: 14px;
}

.out-wrap .cates-box .part a.hot {
    color: #fd8553 !important;
}

.out-wrap .cates-box .part a {
    color: #333;
    width: 50%;
    float: left;
    display: inline-block;
    margin-top: 16px;
    font: 400 13px/17px "Microsoft YaHei", tahoma, arial;
}

.out-wrap .brands-box {
    width: 235px;
    max-height: 465px;
    overflow: hidden;
}

.out-wrap .brands-box .title {
    padding: 42px 0 10px;
    margin: 0;
    color: #333;
    font: 400 16px/18px "Microsoft YaHei", tahoma, arial;
    border-bottom: 1px solid #e5e5e5;
}

.out-wrap .brands-box a {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 106px;
    height: 60px;
    float: left;
    border: 1px solid #eee;
    margin-top: 30px;
    margin-left: 19px;
}

.out-wrap .brands-box a:nth-child(odd) {
    margin-left: 0;
}

.out-wrap .cates li.cate:hover, .out-wrap .cates li.cate.hover {
    border-bottom: 1px solid transparent;
    width: 223px;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0 0px 4px 0px rgba(68, 68, 68, 0.4);
}
textarea, input {
    background: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
}
button, input, select, textarea {
    font: 16px/1.5 Helvetica, Arial;
    outline: none;
}

textarea, input {
    background: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
}

address, em, i, b {
    font-style: normal;
}

button, input, select, textarea {
    font: 16px/1.5 Helvetica,Arial;
    outline: none;
}
a, a:hover {
    color: #666;
    text-decoration: none;
}/*
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}*/

/*页码样式*/
.pages {
    color: #7f7f7f;
    cursor: default;
    font-size: 12px;
    font-family: Tahoma, Verdana;
    margin: 32px auto;
    text-align: center
}

.pages .arrow, .pages .count, .pages .number {
    color: #000;
    font-size: 12px
}

.pages .count {
    font-weight: 700;
    border-right: none;
    padding: 2px 10px 1px 10px
}

.pages .number {
    font-weight: 400
}

.pages .number a {
    font: 400 12px/14px "BrandonGrotesque", "AvenirNext-Regular", "Helvetica", "Arial", sans-serif !important;
    color: #666;
    text-decoration: none;
    padding: 6px 11px 5px;
    border: 1px solid #d8d8d8;
    margin-right: 5px;
    background-color: #fff;
    cursor: pointer
}

.pages .current {
    background-color: #666 !important;
    color: #fff !important;
    border-color: #666 !important;
    cursor: inherit !important
}
.out-wrap .navs .link:hover {
    color: #b0b0b0;
}

.list a.item {
    background: #fff;
    margin-right: 15px;
    float: left;
    padding: 15px;
    height: 350px !important;
    width: 198px !important;
    background-color: #fff !important;
}
.list a.item:nth-child(5n) {
    margin-right: 0;
}
.list a.item:nth-child(n+6) {
    margin-top: 15px;
}

.list .picture {
    width: 148px;
    height: 248px;
    float: none;
    display: block;
}
.list .brand {
    text-align: center;
    margin-top: 12.5px;
    color: #333;
    font: 800 13px/16px "Microsoft YaHei", tahoma, arial;
}
.text-elip {
    word-wrap: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list .brand-t {
    margin-top: 8px;
    font-weight: 400;
    font-size: 12px;
}

.list .market, .list .seller {
    text-align: center;
    font: 400 12px/16px "Microsoft YaHei", tahoma, arial;
    margin-top: 8px;
    color: #b5b5b5;
}
.list .market {
    color: #ff3433;
    font-size: 14px;
}
.list .market span {
    text-decoration: line-through;
    color: #b5b5b5;
    font: 400 12px/16px "Microsoft YaHei", tahoma, arial;
}

.list .market em {
    margin-left: 3px;
    width: 40px;
    height: 17px;
    font: 100 12px/16px "Microsoft YaHei", tahoma, arial;
    background-color: #f46464;
    color: #fff;
    display: inline-block;
}

.soldout {
    width: 70px;
    height: 70px;
    position: absolute;
    margin-left: 130px;
    margin-top: -355px;
    opacity: .85;
    z-index: 0;
}

/*版权信息css*/

.pop-img {
    margin: 0 auto;
    padding: 40px 0;
    width: 1160px;
    height: 48px;
}
.pop-img .item:first-child {
    margin-left: 40px;
}
.pop-img .item {
    margin-left: 70px;
    float: left;
    overflow: hidden;
    width: 220px;
}
.pop-img .item span {
    font: 400 12px/18px "Microsoft YaHei",tahoma,arial;
    color: #b5b5b5;
}
.pop-img .item .icon {
    border-radius: 50%;
    color: #fff;
    border: 1px solid #fff;
    width: 46px;
    height: 46px;
    margin: 4px 10px 4px 0;
    float: left;
    text-align: center;
    font: 400 19px/46px "Microsoft YaHei",tahoma,arial;
}
.icon {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    float: left;
}


/*@keyframes blink {
    to {
        opacity:0.8;
        filter:alpha(opacity=80); !* 针对 IE8 以及更早的版本 *!
    }
}*/


/*商品详情页的模糊*/
@-webkit-keyframes blink{
    0%{opacity:1}
    50%{opacity:.7}
    100%{opacity:1}
}
@keyframes blink{
    0%{opacity:1}
    50%{opacity:.7}
    100%{opacity:1}
}

.picture:hover{
    -webkit-animation: blink 1s;
    animation: blink 1s;
}


.goods-img:hover{
    -webkit-animation: blink 1s;
    animation: blink 1s;
}
.m-pic:hover{
    -webkit-animation: blink 1s;
    animation: blink 1s;
}
.pro-pic:hover{
    -webkit-animation: blink 1s;
    animation: blink 1s;
}
/*
a:hover img {
    -webkit-animation: blink 1s;
    animation: blink 1s;
}*/
/*客服资源*/
.kf-wrap {
    position: absolute;/*相对父元素*/
    z-index: 999;
}
.kf-support-btn {
    color: #fff;
    font-size: 15px;
    position: fixed;
    z-index: 99999;
    cursor: pointer;
    box-sizing: initial;
    background: rgb(50, 50, 50);
    bottom: 0px;
    right: 30px;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 20px 0 45px;
    min-width: 120px;
    border-radius: 5px 5px 0 0;
    font-size: 16px!important;
}
.kf-support-btn img {
    vertical-align: middle;
    width: 18px;
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -9px;
}
.kf-support-btn span {
    font: 400 14px/40px "Microsoft YaHei", tahoma, arial !important;
}

.none {
    display: none;
}

/*左侧导航栏*/
