<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../static/css/bases/rest.css">
    <link rel="stylesheet" href="../../../static/css/bases/base.css">
    <link rel="stylesheet" href="../../../static/css/bases/common.css">
    <link rel="stylesheet" href="../../../static/css/hearder/hearder.css">
</head>
<body>
<a class="top-adv" style="display: block;"></a>

<div class="toper clearfix">
    <div class="specify">
        <div class="menus fl">
            <a href="#">
                <span>返回网站主页</span>
            </a>
        </div><!--menus end-->
        <div class="funcs fr">
            <div class="j_personal fl">
                <a href="#">
                    <span>登录</span>
                </a>
                <span class="v-gap">|</span>
                <a href="#">
                    <span style="margin-right: 60px;">注册</span>
                </a>
            </div><!--j_personal end-->

            <a href="#" class="cart-area fl mRight17">
                <span class=" fl">购物车</span>
                <span >
                    <span class="icon icon-cart fl"></span>
                </span>
            </a>
            <a href="#" class="fl mRight17">
                <span>我的订单</span>
            </a>
            <a href="#" class="fl mRight17">
                <span>帮助中心</span>
            </a>
            <!--<a href="#" class="fl mRight17">
                <span>下载APP</span>
            </a>-->

        </div><!--funcs end-->
    </div><!--specify end-->
</div><!--toper end-->

<div class="topsearch clearfix">
    <div class="specify">
        <a href="#" class="icon icon-logo">

        </a>

        <div class="search-area fr">
            <a target="_blank" href="javascript:;" class="j_go_search"></a>
            <span class="icon icon-search" id="search"></span>
            <input type="text" id="keyword" value="" placeholder="搜索千万级全球时尚单品/品牌/商家…" autocomplete="off">
            <div class="rltv">
                <div class="hot-words" style="margin-right: 60px;">
                    <a href="#" target="_blank">
                        凉鞋 女
                    </a>
                    <a href="#" target="_blank">
                        DW手表
                    </a>
                </div>
            </div>

        </div><!--search-area end-->
    </div><!--specify end-->
</div>
</body>
</html>