<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎登录</title>
    <link rel="stylesheet" href="../../css/bases/rest.css">
    <link rel="stylesheet" href="../../css/bases/base.css">
    <link rel="stylesheet" href="../../css/bases/common.css">
    <link rel="stylesheet" href="../../css/hearder/hearder.css">

    <link rel="stylesheet" href="../../css/footer/footer.css">
    <link rel="stylesheet" href="../../css/common/common.css">
    <link rel="stylesheet" href="../../css/login/login.css">
</head>
<body>
<div class="w">
    <div id="logo">
        <a href="#">
            <img src="../../images/hearder/99_2.png" alt="买好酒" width="270" height="40">
        </a>
        <b></b>
    </div>
    <a href="#" target="_blank" class="q-link"><b></b>登录页面，调查问卷</a>
</div>
<div id="content">
    <div class="tips-wrapper">
        <div class="tips-inner">
            <div class="cont-wrapper">
                <i class="icon-tips"></i>
                <p>依据《网络安全法》，为保障您的账户安全和正常使用，请尽快完成手机号验证！ 新版
                    <a href="#">《XX隐私政策》</a>
                    已上线，将更有利于保护您的个人隐私。</p>
            </div>
        </div>
    </div>

    <div class="login-wrap">

        <div class="w">
            <div class="login-form">
                <div class="tips-wrapper">
                    <div class="tips-inner">
                        <div class="cont-wrapper">
                            <i class="icon-tips"></i>
                            <p>XXXXX不会以任何理由要求您转账汇款，谨防诈骗。</p>
                        </div>
                    </div>
                </div>
                <!--   <div class="login-tab login-tab-l">
                       <a href="javascript:void(0)"  class="" style="outline: rgb(109, 109, 109) none 0px;"> 扫码登录</a>
                   </div>-->

                <div class="login-tab login-tab-r">
                    <a href="javascript:void(0)" class="checked" style="outline: rgb(109, 109, 109) none 0px;">账户登录</a>
                </div>
                <div class="login-box" style="display: block; visibility: visible;">
                    <div class="mt tab-h">
                    </div>
                    <div class="msg-wrap">
                        <div class="msg-error hide"><b></b></div>
                    </div>
                    <div class="mc">
                        <div class="form">
                            <form id="formlogin" method="post" onsubmit="return false;">
                                <input type="hidden" id="sa_token" name="sa_token">
                                <input type="hidden" id="uuid" name="uuid">
                                <input type="hidden" name="eid" id="eid" value="" class="hide">
                                <input type="hidden" name="fp" id="sessionId" value="" class="hide">
                                <input type="hidden" name="_t" id="token" value="_t" class="hide">
                                <input type="hidden" name="loginType" id="loginType" value="c" class="hide">
                                <input type="hidden" name="pubKey" id="pubKey" value="" class="hide">
                                <input type="hidden" name="fisvEJTFQV" value="">
                                <div class="item item-fore1">
                                    <label for="loginname" class="login-label name-label"></label>
                                    <input id="loginname" type="text" class="itxt" name="loginname" tabindex="1"
                                           autocomplete="off" placeholder="邮箱/用户名/已验证手机">
                                    <span class="clear-btn"></span>
                                </div>

                                <div id="entry" class="item item-fore2" style="visibility: visible;">
                                    <label class="login-label pwd-label" for="nloginpwd"></label>
                                    <input type="password" id="nloginpwd" name="nloginpwd" class="itxt itxt-error"
                                           tabindex="2" autocomplete="off" placeholder="密码">
                                    <span class="clear-btn"></span>
                                    <span class="capslock" style="display: none;"><b></b>大小写锁定已打开</span>
                                </div>


                                <!--验证码-->
                                <div id="o-authcode" class="item item-vcode item-fore3  hide " style="display: none;">
                                    <input id="authcode" type="text" class="itxt itxt02" name="authcode" tabindex="3">
                                    <img id="JD_Verification1" class="verify-code" src="../../images/login/image.jpg"
                                         onclick="this.src= document.location.protocol +'//authcode.jd.com/verify/image?a=1&amp;acid=3f81b211-28cd-4316-825e-e88f9148038c&amp;uid=3f81b211-28cd-4316-825e-e88f9148038c&amp;yys='+new Date().getTime();$('#authcode').val('');">
                                    <a href="javascript:void(0)" onclick="$('#JD_Verification1').click();">看不清换一张</a>
                                </div>

                                <div class="item item-fore4">
                                    <div class="safe">
                                        <span></span>
										<span class="forget-pw-safe">
											<a href="/uc/links?tag=safe" class="" target="_blank"
                                               clstag="pageclick|keycount|201607144|3">忘记密码</a>
										</span>
                                    </div>
                                </div>

                                <div class="item item-fore5">
                                    <div class="login-btn">
                                        <a href="javascript:;" class="btn-img btn-entry" id="loginsubmit" tabindex="6">登&nbsp;&nbsp;&nbsp;&nbsp;录</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="qrcode-login" style="display: none; visibility: visible;">
                    <div class="mc">
                        <div class="qrcode-error-2016" style="left: 0px; display: none;">
                            <div class="qrcode-error-mask">
                            </div>
                            <p class="err-cont">服务器出错</p>
                            <a href="javascript:void(0)" class="refresh-btn">刷新</a>
                        </div>
                        <div class="qrcode-main">
                            <div class="qrcode-img" style="left: 64px;">
                                <img src="//qr.m.jd.com/show?appid=133&amp;size=147&amp;t=1512470480166" alt="">
                                <div class="qrcode-error02 hide" id="J-qrcoderror" style="display: none;"><a
                                        href="#none"> <span class="error-icon"></span>
                                    <div class="txt">网络开小差咯<span class="ml10">刷新二维码</span></div>
                                </a></div>
                            </div>
                            <div class="qrcode-help" style="display: none;"></div>
                        </div>
                        <div class="qrcode-panel">
                            <ul>
                                <li class="fore1">
                                    <span>打开</span>
                                    <a href="/uc/links?tag=apps" target="_blank"
                                       clstag="pageclick|keycount|201607144|9">
                                        <span class="red">手机京东</span></a>
                                </li>
                                <li>扫描二维码</li>
                            </ul>
                        </div>
                        <div class="coagent qr-coagent" id="qrCoagent">
                            <ul>
                                <li><b></b><em>免输入</em></li>
                                <li><b class="faster"></b><em>更快&nbsp;</em></li>
                                <li><b class="more-safe"></b><em>更安全</em></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="coagent" id="kbCoagent">
                    <ul>
                        <li>
                            <b></b>
                            <a href="javascript:void(0)"
                               onclick="window.location=''+window.location.search;return false;" class="pdl">
                                <b class="QQ-icon"></b>
                                <span>QQ</span>
                            </a>
                            <span class="line">|</span>
                        </li>
                        <li>
                            <a href="javascript:void(0)"
                               onclick="window.location=''+window.location.search;return false;" class="pdl"><b
                                    class="weixin-icon"></b><span>微信</span></a>
                        </li>
                        <li class="extra-r">
                            <div>
                                <div class="regist-link"><a href="#" target="_blank"
                                                            style="outline: rgb(109, 109, 109) none 0px;">
                                    <b></b>立即注册
                                </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="login-banner" style="background-color: #f5f5f5">
            <div class="w">
                <div id="banner-bg" class="i-inner"
                     style="background-color: #f5f5f5;">
                    <!--          -->

                </div>
            </div>
        </div>
    </div>


</div>
<div class="w">
    <div id="footer-2013">
        <div class="links">
            <a rel="nofollow" target="_blank" href="#">
                关于我们
            </a>
            |
            <a rel="nofollow" target="_blank" href="#">
                联系我们
            </a>
            |
            <a rel="nofollow" target="_blank" href="#">
                人才招聘
            </a>
            |
            <a rel="nofollow" target="_blank" href="#">
                商家入驻
            </a>
            |
            <a rel="nofollow" target="_blank" href="#">
                广告服务
            </a>
            |
            <a rel="nofollow" target="_blank" href="#">
                XXXX
            </a>
            |
            <a target="_blank" href="#">
                友情链接
            </a>
            |
            <a target="_blank" href="#">
                销售联盟
            </a>
            |
            <a href="#" target="_blank">
                XXXX
            </a>
            |
            <a href="#" target="_blank">
                XXXX
            </a>
            |
            <a target="_blank" href="#" clstag="pageclick|keycount|20150112ABD|9">XXXX</a>
        </div>
        <div class="copyright">
            Copyright&nbsp;©&nbsp;2004-2017&nbsp;&nbsp;XXXX.com&nbsp;版权所有
        </div>
    </div>
</div>
</body>
</html>