<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎注册</title>
    <link rel="stylesheet" href="../../css/bases/rest.css">
    <link rel="stylesheet" href="../../css/bases/base.css">
    <link rel="stylesheet" href="../../css/bases/common.css">
    <link rel="stylesheet" href="../../css/hearder/hearder.css">

    <link rel="stylesheet" href="../../css/footer/footer.css">
    <link rel="stylesheet" href="../../css/common/common.css">
    <link rel="stylesheet" href="../../css/regist/regist.css">
</head>
<body>
<div id="form-header" class="header">
    <div class="logo-con w clearfix">
        <a href="//www.jd.com" class="logo">
        </a>
        <div class="logo-title">欢迎注册</div>
        <div class="have-account">已有账号？ <a href="//passport.jd.com/new/login.aspx">请登录</a></div>
        <div class="clearfix"></div>
    </div>

</div>
<div class="container w">
    <div class="main clearfix" id="form-main">
        <div class="reg-form fl">
            <form action="" id="register-form" method="post" novalidate="novalidate">
                <input type="hidden" name="new" value="new_person_reg">
                <input type="hidden" id="localmisc" name="localmisc" value="">
                <input type="hidden" name="regType" id="regType" value="person">
                <input type="hidden" name="uuid" id="uuid" value="8cbd6a60-2787-45e8-9b89-5d61a0dba0c4">
                <input type="hidden" name="verifymc" id="verifymc" value="">
                <input type="hidden" name="emailMg" id="emailMg">
                <input type="hidden" name="authcodeMg" id="authcodeMg">
                <input type="hidden" name="state" id="state" value="">
                <input type="hidden" name="tgId" id="tgId" value="">
                <input type="hidden" name="eid" id="eid"
                       value="Z73LBCCSR3E32TTV2OLTVGMUZKMPP43MDCJIF6K3U5AS4VT2UUOV4ZMTCQA4W5JTLTFSBUVM2IFXR7I2DHGGOKJV74">
                <input type="hidden" name="fp" id="sessionId" value="51339ae1317769c6d3c0c3521ca87970">
                <input type="hidden" id="jcloud" name="jcloud" value="">
                <input type="hidden" id="ucJcloud" name="ucJcloud" value="">
                <input type="hidden" id="jcloud2" name="jcloud2" value="jcloud21512543949447">
                <input type="hidden" value="-1" id="hnschool" class="hide">
                <input type="hidden" id="schoolid" name="schoolid" class="hide">
                <input type="hidden" name="SKLoalFBrn" value="pXBFO">
                <!--chrome autocomplete off bug hack-->
                <input style="display:none" name="hack">
                <input type="password" style="display:none" name="hack1">

                <div class="form-item form-item-account" id="form-item-account">
                    <label>用　户　名</label>
                    <txt style="position: absolute; z-index: 2; line-height: 46px; margin-left: 20px; margin-top: 1px; font-size: 14px; font-family: &quot;Microsoft YaHei&quot;, &quot;Hiragino Sans GB&quot;; color: rgb(204, 204, 204); display: none;">
                        您的账户名和登录名
                    </txt>
                    <input type="text" id="form-account" name="regName" class="field" autocomplete="off" maxlength="20"
                           placeholder=" " default="<i class=&quot;i-def&quot;></i>支持中文、字母、数字、“-”“_”的组合，4-20个字符">
                    <i class="i-status"></i>
                </div>
                <div class="input-tip">
                    <span></span>
                </div>
                <div class="form-item" style="z-index: 12;">
                    <label>设 置 密 码</label>

                    <txt style="position: absolute; z-index: 2; line-height: 46px; margin-left: 20px; margin-top: 1px; font-size: 14px; font-family: &quot;Microsoft YaHei&quot;, &quot;Hiragino Sans GB&quot;; color: rgb(204, 204, 204); display: inline;">
                        建议至少使用两种字符组合
                    </txt>
                    <input type="password" name="pwd" id="form-pwd" class="field" maxlength="20" placeholder=" "
                           default="<i class=i-def></i>建议使用字母、数字和符号两种及以上的组合，6-20个字符">
                    <i class="i-status"></i>
                    <div class="capslock-tip tips" style="display: none;">大写已开启<b class="arrow"></b><b
                            class="arrow-inner"></b></div>
                    <div class="capslock-tip tips" style="display: none;">大写已开启<b class="arrow"></b><b
                            class="arrow-inner"></b></div>
                </div>
                <div class="input-tip">
                    <span></span>
                </div>
                <div class="form-item" style="z-index: 12;">
                    <label>确 认 密 码</label>

                    <txt style="position: absolute; z-index: 2; line-height: 46px; margin-left: 20px; margin-top: 1px; font-size: 14px; font-family: &quot;Microsoft YaHei&quot;, &quot;Hiragino Sans GB&quot;; color: rgb(204, 204, 204); display: inline;">
                        请再次输入密码
                    </txt>
                    <input type="password" name="pwdRepeat" id="form-equalTopwd" class="field" placeholder=" "
                           maxlength="20" default="<i class=&quot;i-def&quot;></i>请再次输入密码">
                    <i class="i-status"></i>
                    <div class="capslock-tip tips" style="display: none;">大写已开启<b class="arrow"></b><b
                            class="arrow-inner"></b></div>
                    <div class="capslock-tip tips" style="display: none;">大写已开启<b class="arrow"></b><b
                            class="arrow-inner"></b></div>
                </div>
                <div class="input-tip">
                    <span></span>
                </div>
                <div class="item-email-wrap" style="display: none;">
                    <div class="form-item">
                        <label>邮 箱 验 证</label>
                        <txt style="position: absolute; z-index: 2; line-height: 52px; margin-left: 20px; margin-top: 1px; font-size: 14px; font-family: &quot;Microsoft YaHei&quot;, &quot;Hiragino Sans GB&quot;; color: rgb(204, 204, 204); display: inline;">
                            建议使用常用邮箱
                        </txt>
                        <input type="text" name="email" id="form-email" class="field ignore" autocomplete="off"
                               placeholder=" " default="<i class=&quot;i-def&quot;></i>完成验证后，你可以用该邮箱登录和找回密码">
                        <i class="i-status"></i>
                        <ul class="suggest-container email-suggest">
                            <li class="">
                                <div class="value">@qq.com</div>
                            </li>
                            <li class="">
                                <div class="value">@163.com</div>
                            </li>
                            <li class="">
                                <div class="value">@126.com</div>
                            </li>
                            <li class="">
                                <div class="value">@Sina.com</div>
                            </li>
                            <li class="">
                                <div class="value">@Sohu.com</div>
                            </li>
                            <li class="suggest-li-last ">
                                <div class="value">@Gmail.com</div>
                            </li>
                        </ul>
                    </div>
                    <div class="input-tip">
                        <span></span>
                    </div>
                    <div class="orPhone"><a href="javascript:;">手机验证</a></div>
                </div>
                <div class="item-phone-wrap">
                    <div class="form-item form-item-phone">
                        <label class="select-country" id="select-country" country_id="0086">中国 0086<a
                                href="javascript:void(0)" tabindex="-1" class="arrow"></a></label>
                        <txt style="position: absolute; z-index: 2; line-height: 46px; margin-left: 7px; margin-top: 1px; font-size: 14px; font-family: &quot;Microsoft YaHei&quot;, &quot;Hiragino Sans GB&quot;; color: rgb(204, 204, 204); display: inline;">
                            建议使用常用手机
                        </txt>
                        <input type="text" id="form-phone" name="phone" class="field" placeholder=" " autocomplete="off"
                               maxlength="11" default="<i class=&quot;i-def&quot;></i>完成验证后，你可以用该手机登录和找回密码">
                        <i class="i-status"></i>
                    </div>
                    <div class="input-tip">
                        <span></span>
                    </div>
                    <div class="orEmail"><a href="javascript:;" tabindex="-1">邮箱验证</a></div>
                </div>
                <div class="form-item form-item-authcode">
                    <label>验　证　码</label>
                    <txt style="position: absolute; z-index: 2; line-height: 46px; margin-left: 20px; margin-top: 1px; font-size: 14px; font-family: &quot;Microsoft YaHei&quot;, &quot;Hiragino Sans GB&quot;; color: rgb(204, 204, 204); display: inline;">
                        请输入验证码
                    </txt>
                    <input type="text" autocomplete="off" name="authCode" id="authCode" maxlength="6"
                           class="field form-authcode" placeholder=" "
                           default="<i class=&quot;i-def&quot;></i>看不清？点击图片更换验证码">
                    <img class="img-code" title="换一换" id="imgAuthCode"
                         onclick=" "
                         src="../../images/regist/imgcode.jpg">
                </div>
                <div class="input-tip">
                    <span></span>
                </div>
                <div class="form-item form-item-phonecode">
                    <label>手机验证码</label>
                    <txt style="position: absolute; z-index: 2; line-height: 46px; margin-left: 20px; margin-top: 1px; font-size: 14px; font-family: &quot;Microsoft YaHei&quot;, &quot;Hiragino Sans GB&quot;; color: rgb(204, 204, 204); display: inline;">
                        请输入手机验证码
                    </txt>
                    <input type="text" name="mobileCode" maxlength="6" id="phoneCode" class="field phonecode"
                           placeholder=" " autocomplete="off">
                    <button id="getPhoneCode" class="btn-phonecode" type="button">获取验证码</button>
                    <i class="i-status"></i>
                </div>
                <div class="input-tip">
                    <span></span>
                </div>
                <div>
                    <button type="submit" class="btn-register">立即注册</button>
                </div>

            </form>
            <div id="country_code_layer" style="display: none; top: 480px; left: 345.2px;">
                <iframe frameborder="0" scrolling="no"
                        style="background-color:transparent; position: absolute; z-index: -1; width: 100%; height: 100%; top: 0; left:0;"></iframe>
                <div><a class="arrow"></a>
                    <div class="search-bar"><b class="search-icon"></b><input type="text" placeholder="搜索您的国家和地区"
                                                                              id="inputSearch"></div>
                    <div id="result">
                        <div class="capital-list">
                            <ul></ul>
                        </div>
                        <div class="current-capital"><span id="currentCapital">A</span><span class="line"></span></div>
                        <div class="country-list">
                            <div id="scrollbar2" class="scrollbar_all">
                                <div class="scrollbar">
                                    <div class="track">
                                        <div class="thumb">
                                            <div class="end"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="viewport">
                                    <div class="overview">
                                        <ul></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="no-result">未找到国家或地区</div>
                </div>
            </div>
        </div>
        <div id="form-company" class="reg-other">
           <!-- <div class="company-reg">
                <a href="../reg/company" target="_blank" clstag="pageclick|keycount|201612011|3">
                    <i class="i-company"></i>
                    <span>买买酒</span>
                </a>
            </div>
            <div class="inter-cust">
                <a href="//reg.joybuy.com/reg/person.html" target="_blank" clstag="pageclick|keycount|201612011|4">
                    <i class="i-global"></i>
                    <span>INTERNATIONAL<br>CUSTOMERS</span>
                </a>
            </div>-->
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div id="form-footer" class="footer w">
    <div class="links">
        <a rel="nofollow" target="_blank" href="#"> 关于我们</a>|
        <a rel="nofollow" target="_blank" href="#">联系我们</a>|
        <a rel="nofollow" target="_blank" href="#">人才招聘</a>|
        <a rel="nofollow" target="_blank" href="#">商家入驻</a>|
        <a rel="no  follow" target="_blank" href="#">广告服务</a>|
        <a rel="nofollow" target="_blank" href="#">xuxu</a>|
        <a target="_blank" href="#">友情链接</a>|
        <a target="_blank" href="#">销售联盟</a>|
        <a target="_blank" href="#">zz社区</a>|
        <a target="_blank" href="#" >hyah公益</a>|
        <a target="_blank" href="#">English Site</a>
    </div>
    <div class="copyright">
        Copyright©2004-2016&nbsp;&nbsp;XXxxx.com&nbsp;版权所有
    </div>
</div>
</body>
</html>