body {
    font: 12px/150% tahoma,arial,Microsoft YaHei,Hiragino Sans GB,"\u5b8b\u4f53",sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #666;
    background: #fff;
}
#container {
    background-color: #f5f5f5;
}
#container, #container .w {
    background-color: #f5f5f5;
}
.w {
    width: 990px;
    margin: 0 auto;
}
.w {
    width: 1200px;
}

#content {
    padding-left: 120px;
    padding-top: 20px;
    display: inline-block;
    display: block;
}
#sub {
    float: left;
    width: 120px;
    position: relative;
    left: -120px;
}
#menu {
    width: 100px;
    padding-left: 10px;
}
#menu dl {
    padding-bottom: 15px;
}
#menu dl dt {
    height: 28px;
    line-height: 28px;
    color: #333;
    font-weight: 700;
}
#menu dl dd {
    color: #666;
    line-height: 24px;
}
#menu dl dd.curr a {
    color: #e4393c;
    font-weight: 700;
}
#menu dl dd a {
    color: #777;
}

/*中间部分*/
#content:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.mod-main .mt:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#main {
    float: left;
    width: 99.9%;
    margin-left: -120px;
    overflow: hidden;
}
.mb10 {
    margin-bottom: 10px;
}
.mod-main {
    padding: 10px;
    background-color: #fff;
    margin-bottom: 20px;
}
.mod-comm {
    padding: 10px 20px 20px;
}

.m, .mb, .mc, .mt, .sm, .smb, .smc, .smt {
    overflow: hidden;
    zoom: 1;
}
.mod-main .mt {
    display: block;
    padding: 10px;
}
.mod-comm .mt {
    padding: 10px 0;
}
div.mod-order .mt {
    padding: 10px 0 0;
}
.mod-main .mt .extra-r {
    float: right;
}

.mod-main .mt h3 {
    float: left;
    font-family: "Microsoft YaHei";
    font-size: 16px;
    color: #333;
    line-height: 20px;
}
.mod-comm .mt h3 {
    font-size: 12px;
    color: #666;
    line-height: 18px;
    font-weight: bold;
    display: block;
}
.mod-main .mt:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.hide {
    display: none;
}
.safety-box {
    position: relative;
    height: 60px;
    line-height: 25px;
    padding: 10px 0 10px 135px;
    margin: 0 0 10px;
    font-family: "Microsoft YaHei";
    background: url(//misc.360buyimg.com/user/myjd/ordercenter/css/i/safe-icon.png) 30px center no-repeat #fffdee;
}
/*h3 {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}*/
/*全部订单块*/
div#order02 {
    position: relative;
}
.mod-comm {
    padding: 10px 20px 20px;
}
.mod-main {
    padding: 10px;
    background-color: #fff;
    margin-bottom: 20px;
}
.mod-main .mt {
    display: block;
    padding: 10px;
}
.mod-comm .mt {
    padding: 10px 0;
}
.mod-main .mt .extra-l {
    float: left;
}
.mod-main .mt .extra-l li {
    float: left;
    padding-left: 20px;
}
.lefta-box .mt .extra-l li {
    padding: 0;
    padding-right: 20px;
}
div.mod-main .mt .extra-l li {
    padding-right: 15px;
}
div.mod-main .mt .extra-l li.fore1 {
    padding-right: 20px;
}
.root61 div.mod-main .mt .extra-l li {
    padding-right: 20px;
}
.mod-main .mt .extra-l li a {
    display: inline-block;
    padding-bottom: 2px;
    color: #999;
}

div.mod-main .mt .extra-l li a {
    display: inline-block;
    vertical-align: middle;
    color: #333;
}
.mod-main .mt .extra-l li a.curr {
    padding-bottom: 0;
    color: #e4393c;
    border-bottom: 2px solid #e4393c;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

div.mod-main .mt .extra-l li.fore2 {
    position: relative;
    border-left: 1px dotted #ddd;
    padding: 0 15px;
}
div.mod-main .mt .extra-l li {
    padding-right: 20px;
}
div.mod-main .mt .extra-l li.fore2 {
    padding-left: 40px;
    margin-left: 20px;
}
strong, b {
    font-weight: bold;
}
div.mod-main .mt .extra-l li a.ftx-03 {
    color: #999;
}

.mod-main .mt .extra-r {
    float: right;
}
.mt .search {
    position: relative;
    top: -3px;
}
input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: auto;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 13.3333px Arial;
}
input, textarea, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb;
}
.mt .search .itxt {
    float: left;
    width: 158px;
    height: 18px;
    line-height: 18px;
    padding: 2px 5px 3px;
    border: 1px solid #ccc;
}
.mt .search .search-btn {
    position: relative;
    float: left;
    width: 52px;
    height: 23px;
    line-height: 99em;
    overflow: hidden;
    border: 1px solid #ddd;
    border-left: 0;
    text-align: center;
    background-color: #f7f7f7;
    background-image: linear-gradient(to bottom,#f7f7f7 0,#f3f2f2 100%);
}
.mt .search .search-btn b {
    position: absolute;
    left: 17px;
    top: 3px;
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 16px;
    overflow: hidden;
    background: url(//misc.360buyimg.com/user/myjd/ordercenter/css/i/order-icons.png) -8px -58px;
}
.mt .search .default-btn {
    float: left;
    margin-left: -1px;
    width: 50px;
    height: 18px;
    line-height: 18px;
    padding: 2px 0 3px;
    text-align: center;
    border: 1px solid #ddd;
    color: #333;
    border-radius: 2px;
    background-color: #f7f7f7;
    background-image: -moz-linear-gradient(top,#f7f7f7,#f3f2f2);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#f7f7f7),color-stop(1,#f3f2f2));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#f3f2f2', GradientType='0');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#f3f2f2');
    background-image: -webkit-linear-gradient(top,#f7f7f7 0,#f3f2f2 100%);
    background-image: linear-gradient(to bottom,#f7f7f7 0,#f3f2f2 100%);
}
.mt .search .default-btn b {
    display: inline-block;
    _display: none;
    width: 7px;
    height: 4px;
    margin-left: 5px;
    overflow: hidden;
    vertical-align: middle;
    background: url(//misc.360buyimg.com/user/myjd/ordercenter/css/i/order-icons.png) -37px -207px no-repeat;
}
/*订单筛选项*/
.mod-comm .mc {
    line-height: 20px;
}
.mod-main .mc {
    overflow: visible;
}
.top-search {
    position: relative;
    padding: 20px 0 10px;
    margin: 5px 0 0;
    border-top: 1px solid #f5f5f5;
    z-index: 2;
}
.top-search .dl {
    display: inline-block;
    display: block;
    margin-bottom: 15px;
    _margin-bottom: 5px;
    position: relative;
}
.top-search .label {
    float: left;
    width: 60px;
    height: 30px;
    line-height: 30px;
}
.top-search .dd {
    float: left;
    width: 760px;
    font-size: 0;
}
.top-search .dd {
    width: 970px;
}
.top-search .dd a.curr, .top-search .dd a:hover {
    background: #e4393c;
    color: #fff;
    border-radius: 2px;
}
.top-search .dd a {
    display: inline-block;
    vertical-align: middle;
    padding: 0 8px;
    margin: 0 1px 5px 0;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}
.top-search .dl {
    display: inline-block;
    display: block;
    margin-bottom: 15px;
    _margin-bottom: 5px;
    position: relative;
}
.btn-10, .btn-11, .btn-12, .btn-9 {
    background-color: #F7F7F7;
    background-image: -moz-linear-gradient(top,#F7F7F7,#F3F2F2);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#F7F7F7),color-stop(1,#F3F2F2));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F7F7', endColorstr='#F3F2F2', GradientType='0');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F7F7', endColorstr='#F3F2F2');
    background-image: -webkit-linear-gradient(top,#F7F7F7 0,#F3F2F2 100%);
    background-image: linear-gradient(to bottom,#F7F7F7 0,#F3F2F2 100%);
    border-radius: 2px;
    display: inline-block;
    height: 18px;
    line-height: 18px;
    border: 1px solid #ddd;
    padding: 2px 14px 3px;
    color: #323333;
}
.top-search a.btn-9 {
    background: #f5f5f5;
    border: 1px solid #ddd;
    color: #333;
    border-radius: 2px;
    width: 85px;
    text-align: center;
    padding: 2px 0 3px;
}
.top-search .dl:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.top-search .ts-del {
    position: absolute;
    z-index: 3;
    right: 0;
    top: 10px;
    display: block;
    width: 21px;
    height: 21px;
    overflow: hidden;
    background: url(//misc.360buyimg.com/user/myjd/ordercenter/css/i/order-icons.png) -44px -55px;
}
/*三月订单*/

.order-tb {
    width: 100%;
}
table {
    border-collapse: collapse;
}
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}
.order-tb .number-col {
    width: 589px;
}
.order-tb .consignee-col {
    width: 115px;
}
.order-tb .amount-col, .root61 .order-tb .status-col {
    width: 110px;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
.order-tb thead th {
    height: 32px;
    line-height: 32px;
    text-align: center;
    background: #f5f5f5;
    color: #666;
    font-weight: 400;
}
.order-tb .ordertime-cont {
    position: relative;
    float: left;
    z-index: 10;
    width: 138px;
    cursor: pointer;
}
.order-tb .ordertime-cont .time-txt {
    position: relative;
    height: 30px;
    line-height: 30px;
    text-align: left;
    padding-left: 20px;
    padding-right: 12px;
    border: 1px solid #f5f5f5;
}
.order-tb .ordertime-cont .time-list {
    position: absolute;
    left: 0;
    top: 30px;
    z-index: 2;
    display: none;
    width: 136px;
    background: #fff;
    border: 1px solid #f5f5f5;
    border-top: 0;
}
.order-tb .ordertime-cont .time-list li {
    height: 30px;
    line-height: 30px;
    text-align: left;
}
.order-tb .ordertime-cont .time-list li a {
    display: block;
    position: relative;
    color: #666;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
}
.order-tb .ordertime-cont .time-txt b {
    position: absolute;
    width: 7px;
    height: 4px;
    right: 18px;
    top: 13px;
    overflow: hidden;
    vertical-align: middle;
    background: url(//misc.360buyimg.com/user/myjd/ordercenter/css/i/order-icons.png) -37px -207px no-repeat;
}

.order-tb .order-detail-txt {
    display: inline-block;
    vertical-align: middle;
}
.order-tb .deal-state-cont {
    position: relative;
    z-index: 10;
    width: 98px;
    cursor: pointer;
}
col {
    display: table-column;
}
table {
    border-collapse: collapse;
}
.order-tb .deal-state-cont .state-txt {
    position: relative;
    height: 30px;
    line-height: 30px;
    text-align: left;
    padding-left: 20px;
    padding-right: 12px;
    border: 1px solid #f5f5f5;
}
.order-tb .deal-state-cont .state-txt b {
    position: absolute;
    width: 7px;
    height: 4px;
    right: 18px;
    top: 13px;
    overflow: hidden;
    vertical-align: middle;
    background: url(//misc.360buyimg.com/user/myjd/ordercenter/css/i/order-icons.png) -37px -207px no-repeat;
}
.order-tb .deal-state-cont .state-list {
    position: absolute;
    left: 0;
    top: 30px;
    z-index: 2;
    display: none;
    width: 96px;
    background: #fff;
    border: 1px solid #f5f5f5;
    border-top: 0;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.order-tb .sep-row {
    height: 20px;
}
.order-tb .sep-row td {
    border: 0;
}
.order-tb .tr-th {
    background: #f5f5f5;
    height: 31px;
    line-height: 31px;
    color: #aaa;
    overflow: hidden;
}
.order-tb .tr-th td {
    border-bottom-color: #f5f5f5;
}
.order-tb tbody td {
    border: 1px solid #e5e5e5;
}
.order-tb .tr-th .gap {
    width: 14px;
}
.order-tb .tr-th span {
    float: left;
    height: 18px;
    line-height: 18px;
    padding: 2px 0 0;
    _display: inline;
}
.order-tb .tr-th .dealtime {
    margin-right: 30px;
    _margin-right: 15px;
    font-family: verdana;
}
.order-tb .tr-th .number {
    width: 226px;
    font-family: verdana;
}
.order-tb .tr-th a {
    color: #333;
}
.order-tb .tr-th .tr-operate {
    width: 608px;
}
.order-tb .tr-th .tr-operate {
    float: right;
    position: relative;
    margin-right: 15px;
    width: 397px;
    height: 23px;
}
.order-tb .tr-th .order-shop {
    width: 178px;
}
.order-tb .tr-th .order-shop .shop-txt {
    display: inline-block;
    vertical-align: middle;
    max-width: 124px;
    overflow: hidden;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.order-tb .tr-th .btn-im, .order-tb .tr-th .btn-im-off {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 0 0 5px;
    overflow: hidden;
    background: url(//misc.360buyimg.com/user/myjd/ordercenter/css/i/sprite-im.png) -26px 0 no-repeat;
    vertical-align: middle;
}
.order-tb .tr-th .tel {
    width: 180px;
    color: #aaa;
    font-family: verdana;
}
.order-tb .tr-th .tel .tel-icon {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-right: 3px;
    overflow: hidden;
    vertical-align: middle;
    background: url(//misc.360buyimg.com/user/myjd/ordercenter/css/i/order-icons.png) -75px -55px;
}
.order-tb .tr-bd {
    text-align: center;
    vertical-align: top;
}
.order-tb .tr-bd td {
    padding: 14px 0;
}
.order-tb tbody td {
    border: 1px solid #e5e5e5;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}

.order-tb .goods-item {
    display: inline-block;
    display: block;
    float: left;
    width: 255px;
    margin-right: 10px;
}
.order-tb .goods-item {
    width: 340px;
    margin-right: 74px;
}
.order-tb .goods-item .p-img {
    float: left;
    width: 60px;
    height: 60px;
    border: 1px solid #efefef;
    margin: 0 14px;
    _display: inline;
}
.p-detail, .p-img, .p-market, .p-name, .p-price {
    overflow: hidden;
}
img {
    border: 0;
    vertical-align: middle;
}
.order-tb .goods-item .p-msg {
    float: left;
    width: 160px;
}

.order-tb .goods-item .p-msg {
    width: 240px;
}
.order-tb .goods-item:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.order-tb .goods-item .p-name {
    height: 36px;
    line-height: 18px;
    overflow: hidden;
    color: #333;
    text-align: left;
}
.order-tb .goods-item .p-extra {
    color: #aaa;
    text-align: left;
}
.order-tb .goods-item .o-info {
    text-align: left;
    color: #aaa;
}
.order-tb .goods-item .o-match, .order-tb .goods-item .o-similar {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}
.order-tb .goods-item .o-match i {
    background-position: -56px 0;
}
.order-tb .goods-item .o-match i, .order-tb .goods-item .o-similar i {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    vertical-align: top;
}
.jd-otc, .order-tb .goods-item .o-match i, .order-tb .goods-item .o-similar i {
    display: inline-block;
    background-image: url(//misc.360buyimg.com/user/myjd/ordercenter/css/i/sprite-order-icon.png);
    background-repeat: no-repeat;
}
.order-tb .goods-item .o-match em, .order-tb .goods-item .o-similar em {
    display: inline-block;
    vertical-align: top;
}
.root61 .order-tb .goods-number {
    width: 70px;
}
.order-tb .goods-number {
    float: left;
    width: 40px;
    text-align: left;
    color: #aaa;
    font-family: verdana;
}
.order-tb .goods-repair {
    float: right;
    width: 84px;
    text-align: center;
}
.root61 .order-tb .goods-repair {
    width: 104px;
}
.clear, .clr {
    display: block;
    overflow: hidden;
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
}
.order-tb .tr-bd td {
    padding: 14px 0;
}
.order-tb .tooltip {
    position: relative;
    width: 100px;
    margin: 0 auto;
    z-index: 2;
    cursor: pointer;
}
.order-tb .consignee {
    color: #333;
}
.order-tb .consignee .txt {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    max-width: 72px;
    text-overflow: ellipsis;
    vertical-align: middle;
}
.order-tb .consignee b {
    display: inline-block;
    width: 14px;
    height: 16px;
    background: url(//misc.360buyimg.com/user/myjd/ordercenter/css/i/order-icons.png) 0 -24px;
    vertical-align: middle;
    margin: 0 0 0 5px;
}

.prompt-01 {
    position: absolute;
    width: 122px;
    border: 1px solid #ddd;
    background: #fff;
    box-shadow: 0 0 2px 2px #eee;
    border-radius: 1px;
}
.order-tb .prompt-01 {
    position: absolute;
    width: 122px;
    border: 1px solid #ddd;
    background: #fff;
    box-shadow: 0 0 2px 2px #eee;
    border-radius: 1px;
}
.order-tb .tooltip .prompt-01 {
    position: absolute;
    z-index: 1;
    width: 400px;
    right: 90px;
    top: -22px;
    padding: 9px 9px 0;
    display: none;
    cursor: auto;
}
.order-tb .tooltip .prompt-02 {
    position: absolute;
    z-index: 1;
    width: 220px;
    right: 90px;
    top: -22px;
    padding: 15px 20px;
    display: none;
    color: #666;
    line-height: 22px;
}
.prompt-01 .pc {
    background: #fff;
    padding: 10px;
    color: #333;
    text-align: left;
    overflow: hidden;
}
.order-tb .prompt-01 .pc {
    background: #fff;
    padding: 0;
    color: #333;
    text-align: left;
}
.order-tb .tooltip .prompt-01 .pc {
    min-height: 235px;
}
.order-tb .tooltip .prompt-02 .pc {
    min-height: 0;
}
.order-tb .prompt-02 .pc {
    color: #666;
}
.order-tb .prompt-01 .p-arrow-left {
    right: -8px;
    top: 25px;
    width: 8px;
    height: 16px;
    background-position: -7px 0;
}
.prompt-01 .p-arrow {
    position: absolute;
    background: url(//misc.360buyimg.com/user/myjd/ordercenter/css/i/arrow-gray.png) no-repeat;
}
.order-tb .amount {
    color: #AAA;
}
.order-tb .amount .ftx-13 {
    display: block;
    margin: 0 8px;
    margin-top: 5px;
    padding-top: 1px;
    border-top: solid 1px #E5E5E5;
    line-height: 19px;
    height: 19px;
    overflow: hidden;
}
.order-tb .status {
    position: relative;
    z-index: 5;
    color: #333;
    line-height: 22px;
}
.ftx-02, .ftx02 {
    color: #71b247;
}
.order-tb .tooltip .auto-icon {
    display: inline-block;
    width: 22px;
    height: 16px;
    margin: 0 3px 0 0;
    overflow: hidden;
    background: url(//misc.360buyimg.com/user/myjd/ordercenter/css/i/order-icons.png) -48px -24px no-repeat;
    vertical-align: middle;
}
.order-tb .tooltip .circle-icon {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin: 0 0 0 3px;
    overflow: hidden;
    background: url(//misc.360buyimg.com/user/myjd/ordercenter/css/i/order-icons.png) 0 -115px no-repeat;
    vertical-align: middle;
}
.order-tb .operate {
    line-height: 22px;
}
.btn-5, .btn-6, .btn-7, .btn-8 {
    background-color: #f5fbef;
    background-image: -moz-linear-gradient(top,#f5fbef,#eaf6e2);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#f5fbef),color-stop(1,#eaf6e2));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5fbef', endColorstr='#eaf6e2', GradientType='0');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5fbef', endColorstr='#eaf6e2');
    background-image: -webkit-linear-gradient(top,#f5fbef 0,#eaf6e2 100%);
    background-image: linear-gradient(to bottom,#f5fbef 0,#eaf6e2 100%);
    border-radius: 2px;
    display: inline-block;
    height: 18px;
    line-height: 18px;
    border: 1px solid #bfd6af;
    padding: 2px 14px 3px;
    color: #323333;
}
a.btn-5 {
    background-color: #fff;
    background-image: -moz-linear-gradient(top,#fff,#fff);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(1,#fff));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType='0');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff');
    background-image: -webkit-linear-gradient(top,#fff 0,#fff 100%);
    background-image: linear-gradient(to bottom,#fff 0,#fff 100%);
    border: 1px solid #71b247;
    color: #71b247;
    border-radius: 2px;
    width: 85px;
    text-align: center;
    padding: 2px 0 3px;
    margin: 3px 0;
    font-weight: 700;
}
a.btn-5:link, a.btn-5:visited, a.btn-6:link, a.btn-6:visited, a.btn-7:link, a.btn-7:visited, a.btn-8:link, a.btn-8:visited {
    color: #71b247;
}

.mt20 {
    margin-top: 20px;
}
.pagin .prev, .pagin .prev-disabled {
    padding-left: 12px;
}
.pagin .next-disabled, .pagin .prev-disabled {
    color: #ccc;
    cursor: default;
}
.pagin a, .pagin span {
    float: left;
    height: 20px;
    padding: 3px 10px;
    border: 1px solid #ccc;
    margin-left: 2px;
    font-family: arial;
    line-height: 20px;
    font-size: 14px;
    overflow: hidden;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.pagin .next, .pagin .next-disabled, .pagin .prev, .pagin .prev-disabled {
    position: relative;
    padding-top: 5px;
    height: 18px;
    line-height: 18px;
}
.pagin a, .pagin span {
    background: #fff;
}
.prev-disabled b {
    background-position: 0 0;
    margin-right: 5px;
}
.pagin .prev-disabled b {
    left: 3px;
    background-position: -80px -608px;
}
/*.next-disabled b, .prev-disabled b, .ui-pager-next b, .ui-pager-prev b {
    display: inline-block;
    width: 7px;
    height: 13px;
    overflow: hidden;
    background: url(//misc.360buyimg.com/user/myjd/ordercenter/widget/ui-page/i/page-icon.png) no-repeat;
    vertical-align: middle;
}*/
.pagin .current, .pagin .current:link, .pagin .current:visited {
    color: #f60;
    font-weight: 700;
}
.pagin .current, .pagin .text {
    border: 0;
    padding: 4px 11px;
}
.pagin a, .pagin span {
    float: left;
    height: 20px;
    padding: 3px 10px;
    border: 1px solid #ccc;
    margin-left: 2px;
    font-family: arial;
    line-height: 20px;
    font-size: 14px;
    overflow: hidden;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}